body {
    background-color: black;
    image-rendering: pixelated;
    font-family: 'Jacquard 12';
}

.monster {
    color: white;
    border: double gold 5px;
    text-align: center;

    img {
        width: 150px
    }
}

.monster-stats {
    display: flex;
    justify-content: center;
    gap: 1em;
}